body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 50px;
    width: 800px;
}

.container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.form-container label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
}

.form-container input, .form-container textarea, .form-container file {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container textarea {
    resize: none;
}

.form-container .upload-success {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.form-container .upload-success .icon {
    margin-right: 10px;
    color: green;
    font-size: 24px;
}

.form-container .upload-success p {
    color: green;
    margin: 0;
    font-weight: bold;
}

.form-action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.form-action button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-action button:hover {
    background-color: #444;
}

.form-action button.delete {
    background-color: red;
}

.form-action button.delete:hover {
    background-color: darkred;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 1px solid #ccc;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
}

.openbtn:hover {
    background-color: #444;
}